.codesrc{
	border :1px solid blue;
	width:95%;
}
div.scroll {
    border :1px solid blue;
    width:95%;
    height: 200px;
    overflow: scroll;
	background-color:#fff;
}
.langselect{
	border :1px solid blue;
}
.highlightcontainer{
	border:1px solid green;
	background-color:#E0F8F1;
}
.form-item-field-code-format-und-0-codeformat{
	/*display:none;*/
}
.form-item form-type-textarea form-item-field-code-in-comment-und-0-codeformat{
	/*display:none;*/
}